html,
body {
  margin: 0;
  padding: 0;
  font-family: "UTM BryantLG";
}

@font-face {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-weight: normal;
  src: url("./font/UTM\ BryantLG.ttf");
}

@font-face {
  font-family: "Open Sans" sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("./font/OpenSans-Bold.ttf");
}

/*header*/

.header {
  width: 100%;
  height: 150px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  height: 70px;
  width: auto;
  margin-left: 60px;
}

.header .main-menu .menu {
  margin-right: 50px;
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.menu .menu-item {
  font: bold 14px/19px 'Open Sans';
}

.menu .menu-item .menu-item-link {
  text-decoration: none;
  padding: 8px 18px;
  text-transform: uppercase;
  color: #505353;
}

.menu .menu-item .menu-item-link:hover {
  background-color: #B2D235;
  border-radius: 17px;
  color: white;
}

/*footer*/

.footer {
  color: white;
  width: 100%;
  height: 308px;
}

.main-footer {
  display: flex;
  height: 250px;
  flex-wrap: nowrap;
  background-color: #505353;
}

.footer-col-des {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-note {
  font: 20px/25px 'UTM BryantLG';
  letter-spacing: -0.05em;
  padding: 0 4rem;
  margin-left: 95px;
  margin-top: 5px;
}

.footer-col {
  width: 15%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-logo {
  max-width: 291px;
  margin-top: 40px;
}

.footer-menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer-menu-item {
  padding: 8px;
  font: bold 20px/25px 'UTM BryantLG';
}

.footer-menu-item-link {
  letter-spacing: -0.05em;
  font: bold 20px/25px 'UTM BryantLG';
  color: white;
  text-decoration: none;
}

.footer-menu-item-link:hover {
  text-decoration: underline;
  color: white;
  border-radius: 17px;
}

.social {
  width: 35%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.social a {
  margin-left: 25px;
  display: flex;
  align-items: center;
  width: 50px;
  color: white;
  overflow: hidden;
  transition: all ease-in-out .5s;
}

.social a:hover {
  width: 270px;
  color: white;
  text-decoration: none;
  font: normal 20px/25px 'UTM BryantLG';
}

.social a img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.social-link {
  border-radius: 50%;
}

.copy-right {
  font: normal 15px/18px 'UTM BryantLG';
  background-color: #454545;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  text-align: center;
  height: 30px;
  padding-top: 5px;
}

/* section-banner */

.hapo-banner {
  width: auto;
  height: 655px;
  background: url("image/Rectangle 1.png") no-repeat;
  background-size: cover;
  display: flex;
  letter-spacing: -0.05em;
  padding-left: 60px;
  flex-direction: column;
  justify-content: center;
}

.hapo-banner h1 {
  font: normal 50px/61px 'UTM BryantLG';
  color: #11114E;
}

.hapo-banner h1 b {
  font: bold 50px/61px 'UTM BryantLG';
  -webkit-text-stroke-width: 1px;
}

.hapo-banner h1 b img {
  vertical-align: middle;
  /* border-style: none; */
}

.hapo-banner p {
  font: normal 20px/25px UTM;
  letter-spacing: -0.05em;
  margin-top: -25px;
  color: #505353;
}

.hapo-banner a {
  text-decoration: none;
  color: white;
  font: bold 30px/37px UTM;
  background-color: #B2D235;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 377px;
  height: 60px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
}

.hapo-banner a:hover {
  cursor: pointer;
  color: white;
  background-color: #F2C54F;
  text-decoration: none;
}

.hapo-banner-space {
  width: 100%;
  height: 160px;
  background-image: linear-gradient(white, #E5E5E5);
}

/*section-subject  */

.hapo-subject {
  display: flex;
  justify-content: center;
}

.hapo-subject-col {
  width: 370px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  margin-top: -100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.subject-background {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.subject-html .subject-background {
  background: #3F6185;
}

.subject-content {
  width: 100%;
  height: 50%;
  border-radius: 0 0 15px 15px;
  letter-spacing: -0.05em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subject-content h3 {
  margin: 10px 0;
  font: bold 30px/37px 'UTM BryantLG';
  color: #B2D235;
  -webkit-text-stroke: 1px;
}

.subject-content p {
  font: bold 14px/20px 'UTM BryantLG';
  color: #505353;
  margin: 0 35px;
}

.subject-content a {
  background-color: #B2D235;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 42px;
  font: bold 18px/22px 'UTM BryantLG';
  color: white;
  border-radius: 22px;
  box-shadow: inset 0 1.5px 2px #6F8710;
  margin-top: 15px;
  margin-bottom: 25px;
  text-decoration: none;
}

.subject-content a:hover {
  background-color: #F2C54F;
  color: white;
  text-decoration: none;
}

.subject-laravel .subject-background {
  background: #DC594C;
}

.subject-php .subject-background {
  background: #556598;
}

/* section other subject */

.hapo-other-subject {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.hapo-other-subject .hapo-subject {
  margin-top: 150px;
}

.hapo-title {
  width: 100%;
  font: bold 80px/98px 'UTM BryantLG';
  text-align: center;
  margin-bottom: 45px;
  color: #11114E;
  -webkit-text-stroke-width: 1px;
}

.underline {
  border-bottom: 6px solid #B2D235;
  border-radius: 3px;
  padding-bottom: 10px;
}

.subject-css .subject-background {
  background: #24ABE2;
}

.subject-rails .subject-background {
  background: #E14E40;
}

.subject-java .subject-background {
  background: #1B75BB;
}

.hapo-all-courses {
  width: 100%;
  font: bold 40px/49px 'UTM BryantLG';
  text-decoration: none;
  color: #90AB26;
  margin-top: 60px;
  text-align: center;
  align-self: flex-end;
  -webkit-text-stroke-width: 1px;
}

.hapo-all-courses img {
  vertical-align: middle;
}

.hapo-all-courses:hover {
  cursor: pointer;
  text-decoration: none;
  color: #90AB26;
  transform: scale(1.2);
}

/* section-question */

.hapo-question {
  width: 100%;
  height: 694px;
  background-image: url('image/Rectangle\ 17.png');
  background-size: cover;
  margin-bottom: 60px;
}

.question-logo {
  margin-top: -225px;
  position: absolute;
}

.hapo-question-why {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.question-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 230px;
}

.question-body h1 {
  font: bold 70px/86px 'UTM BryantLG';
  color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 1px;
}

.question-body ul li {
  list-style: none;
  font: normal 20px/25px 'UTM BryantLG';
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding: 10px 0;
}

.question-body ul li img {
  margin-right: 10px;
}

.question-body a {
  color: #FFFFFF;
  text-decoration: none;
}

.question-body a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.hapo-why-right {
  width: 709px;
  height: 500px;
  float: right;
  object-fit: cover;
  margin-top: 65px;
}

/* section-feedback */

.hapo-feedback {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hapo-feedback p {
  font-size: 25px;
  line-height: 31px;
  width: 705px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #505353;
  margin-top: 25px;
}

.feedback-detail {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-des {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-comment {
  background: url(./image/Union.png) no-repeat;
  background-size: cover;
  width: 555px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-next-left {
  margin-left: -65px;
  margin-right: 10px;
}

.feedback-next-right {
  margin-left: 35px;
  margin-right: -40px;
}

.feedback-comment p {
  width: 84%;
  height: 60%;
  font: normal 16px/20px 'UTM BryantLG';
  color: #000000;
  border-left: #D9DADC solid 5px;
}

.feedback-user {
  display: flex;
  height: 60px;
  width: auto;
  padding-left: 30px;
}

.user-information {
  height: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.user-information b {
  font-size: 20px;
  line-height: 25px;
  color: #11114E;
}

.user-information h4 {
  font: bold 16px/20px 'UTM BryantLG';
  color: #505353;
  margin: 5px 0;
}

.rate i {
  color: #F2C54F;
  font-size: 14px;
}

/*statistic*/

.statistic-logo {
  width: 100%;
  height: 500px;
  background: url("./image/Group\ 7.png") no-repeat;
  background-size: cover;
  margin-top: 90px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistic-logo h2 {
  font: bold 60px/74px 'UTM BryantLG';
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px;
}

.statistic-logo a {
  width: 380px;
  height: 80px;
  font: bold 30px/37px 'UTM BryantLG';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-decoration: none;
  color: #90AB26;
  border-radius: 40px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.statistic-logo a:hover {
  background-color: #F2C54F;
  color: #90AB26;
  text-decoration: none;
}

.statistic-body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 90px 0;
}

.statistic-learn {
  font-size: 60px;
  line-height: 74px;
  letter-spacing: -0.05em;
  margin-left: 25px;
  -webkit-text-stroke-width: 2px;
}

.statistic-learn span {
  color: #505353;
}

.statistic-learn p {
  color: #B2D235;
}

/* section-message */

.hapo-message-box {
  width: 360px;
  height: auto;
  position: fixed;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: 0;
  right: 0;
}

.message-boxchat {
  display: flex;
  width: 100%;
  height: 190px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  display: none;
}

.hapo-message-users {
  display: flex;
  width: 100%;
  height: 50%;
}

.mess-icon {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hapo-message-ques {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hapo-message-content {
  font-weight: normal;
  color: #7F7F7F;
  margin: 0;
  padding-left: 15px;
}

.hapo-message-des {
  font: normal 12px/17px 'Open Sans';
  margin-top: 5px;
  padding: 15px;
  background-color: #F1F0F0;
  border-radius: 15px;
  color: #505353;
}

.close-chatbox {
  width: 15%;
  height: 100%;
}

.close-chatbox i {
  color: #C4C4C4;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.hapo-login-users {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hapo-message-login {
  font: normal 12px/16px 'Open Sans';
  color: white;
  width: 276px;
  height: 37px;
  background-color: #3184F7;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hapo-message-login img {
  vertical-align: middle;
  margin-right: 10px;
}

.hapo-message-login:hover {
  background-color: cadetblue;
}

.hapo-message-start {
  color: #B3B3B3;
  font: normal 12px/16px 'Open Sans';
  margin: 6px 0;
}

.message-open {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  background-color: #2774DF;
  border-radius: 50%;
}

.message-boxchat.active {
  display: block;
}







